<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gallery 01</title>
        <!-- Configuración de la vista para dispositivos -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Vinculación de la hoja de estilos externa -->
        <link rel="stylesheet" href="inicio.component.css">
    </head>


    <body>
        <!-- Contenedor principal -->
        
        <div class="background">
             <p class="mensajeBienvenida">Bienvenid@ al <b>Creador de Mazos!</b></p>
            <div class="mensaje-container">
                <p class="mensaje">Con esta APP podrás crear, visualizar, y editar tus propios mazos de Pokémon TCG.<br>
                    Usa el menú "<b>MAZOS</b>" para gestionar tus mazos & Clicka en "<b>Nuevo Mazo</b>" para crear uno nuevo.<br>
                    Clicka en "<b>AÑADIR CARTAS</b>" para acceder al buscador & Clicka en una carta para ver los detalles.<br>
                    ¡Ya estás listo/a!. Hora de Probar las nuevas <b>Cartas BREAK!</b>
                </p>
            </div>
            
            <!-- Contenedor de la galería de cartas -->
            <div class="gallery">

                <!---------- Cartas -------->
                <div class="card">
                    <figure>
                        <img src="assets/Ninetales.png" alt="Preview">
                    </figure>
                </div>
                <!-- Segunda carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/Starmie.png"
                            alt="Preview"
                        >
                    </figure>
                </div>

                <!-- Tercera carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/5.png"
                            alt="Preview"
                        >
                    </figure>
                </div>

                <!-- Cuarta carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/Noivern.png"
                            alt="Preview"
                        >
                    </figure>
                </div>

                <!-- Quinta carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/lugia.png"
                            alt="Preview"
                        >
                    </figure>
                </div>

                <!-- Sexta carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/Trevenant.png"
                            alt="Preview"
                        >
                    </figure>
                </div>
            </div>            
        </div>
    </body>
</html>
