:host .background {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    height: 90vh; /* Ocupa toda la altura de la ventana */
  }
  

  :host .mensaje {
    font-size: 20px; /* Tamaño del texto */
    margin-bottom: 1px; /* Espacio entre el mensaje y la galería */
    text-align: center; /* Centrar el texto horizontalmente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreado */
  }

  :host .mensajeBienvenida {
    font-size: 35px; /* Tamaño del texto */
    margin-bottom: 1px; /* Espacio entre el mensaje y la galería */
    text-align: center; /* Centrar el texto horizontalmente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreado */
  }

  .mensaje-container {
    background-color: rgb(255, 244, 91);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

  
  :host .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 900px;
  }
  
  
  :host .card {
    position: relative;
    width: calc((100% - 3 * 16px) / 3); /* Ajusta el ancho de la tarjeta */
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  }
  
  :host .card img {
    width: 100%; /* Establece el ancho de la imagen al 100% de la tarjeta */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente para mantener la relación de aspecto original */
  }
  
  :host .card:hover {
    transform: scale(1.05); /* Amplía la tarjeta al pasar el cursor sobre ella */
    z-index: 1; /* Asegura que la tarjeta activa esté en la parte superior */
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.8); /* Ajusta la sombra para resaltar la tarjeta activa */
  }
  