<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gallery 01</title>
        <!-- Configuración de la vista para dispositivos -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Vinculación de la hoja de estilos externa -->
        <link rel="stylesheet" href="inicio.component.css">
    </head>

    
    <body>
        <!-- Contenedor principal -->
        <div class="background">
            <p class="mensaje"><b>Nuevas Cartas BREAK!</b></p>
            <!-- Contenedor de la galería de cartas -->
            <div class="gallery">


                <!---------- Cartas -------->
                <div class="card">
                    <figure>
                        <img src="assets/Ninetales.png" alt="Preview">
                    </figure>
                </div>
                <!-- Segunda carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/Starmie.png"
                            alt="Preview"
                        >
                    </figure>
                </div>

                <!-- Tercera carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/5.png"
                            alt="Preview"
                        >
                    </figure>
                </div>

                <!-- Cuarta carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/Noivern.png"
                            alt="Preview"
                        >
                    </figure>
                </div>

                <!-- Quinta carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/lugia.png"
                            alt="Preview"
                        >
                    </figure>
                </div>

                <!-- Sexta carta -->
                <div class="card">
                    <figure>
                        <img
                            src="assets/Trevenant.png"
                            alt="Preview"
                        >
                    </figure>
                </div>
            </div>            
        </div>
    </body>
</html>
