
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gallery 01</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="inicio.component.css">
    </head>
    <body>
        <div class="background">
            <p class="mensaje">Házte ya con las <b>Nuevas Cartas BREAK!</b></p>
            <div class="gallery">
                <div class="card">
                    <figure>
                        <img
                            src="assets/Ninetales.bmp"
                            alt="Preview"
                        >
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img
                            src="assets/Starmie.bmp"
                            alt="Preview"
                        >
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img
                            src="assets/Chesnaught.bmp"
                            alt="Preview"
                        >
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img
                            src="assets/Noivern.bmp"
                            alt="Preview"
                        >
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img
                            src="assets/lugia.bmp"
                            alt="Preview"
                        >
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img
                            src="assets/Trevenant.bmp"
                            alt="Preview"
                        >
                    </figure>
                </div>
            </div>            
        </div>
    </body>
</html>





