<!-- Componente hecho con Boostrap -->
<section class="vh-100" style="background-color: #eee;"> <!-- Sección con clase de altura total y color de fondo -->
  <div class="container h-100"> <!-- Contenedor con altura total -->
    <div class="row d-flex justify-content-center align-items-center h-100"> <!-- Fila con alineación y justificación -->
      <div class="col-lg-12 col-xl-11"> <!-- Columna para dispositivos grandes -->
        <div class="card text-black" style="border-radius: 25px;"> <!-- Tarjeta con texto negro y borde redondeado -->
          <div class="card-body p-md-5"> <!-- Cuerpo de la tarjeta con relleno -->
            <div class="row justify-content-center"> <!-- Fila con justificación central -->
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1"> <!-- Columna para dispositivos medianos y grandes con orden de visualización -->

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Únete!</p> <!-- Párrafo centrado con estilo de título y márgenes -->

                <form class="mx-1 mx-md-4"> <!-- Formulario con márgenes -->

                  <!-- Campo de nombre -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i> <!-- Icono de usuario -->
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" />
                      <label class="form-label" for="form3Example1c">Tu nombre</label> <!-- Etiqueta para el campo de nombre -->
                    </div>
                  </div>

                  <!-- Campo de correo electrónico -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> <!-- Icono de correo electrónico -->
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" />
                      <label class="form-label" for="form3Example3c">Tu Email</label> <!-- Etiqueta para el campo de correo electrónico -->
                    </div>
                  </div>

                  <!-- Campo de contraseña -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i> <!-- Icono de candado -->
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4c" class="form-control" />
                      <label class="form-label" for="form3Example4c">Contraseña</label> <!-- Etiqueta para el campo de contraseña -->
                    </div>
                  </div>

                  <!-- Campo de repetir contraseña -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i> <!-- Icono de clave -->
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" class="form-control" />
                      <label class="form-label" for="form3Example4cd">Repite tu contraseña</label> <!-- Etiqueta para el campo de repetir contraseña -->
                    </div>
                  </div>

                  <!-- Checkbox de aceptar términos -->
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      Acepto los <a href="#!">Términos del servicio.</a> <!-- Enlace a los términos del servicio -->
                    </label>
                  </div>

                  <!-- Botón de registro -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Confirmar</button>
                  </div>

                </form>

              </div>
              <!-- Columna para dispositivos medianos y grandes con orden de visualización -->
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"> 
                <img src="/assets/PikachuRegistro.png"
                class="img-fluid" alt="Sample image">
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
